---
http_interactions:
- request:
    method: get
    uri: https://dev.azure.com/dfe-ssp/Become-A-Teacher/_apis/build/builds?api-version=5.1&branchName=refs/heads/master&definitions=49
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8; api-version=5.1
    body:
      encoding: UTF-8
      string: '{"count":132,"value":[{"_links":{"self":{"href":"https://dev.azure.com/dfe-ssp/8ae3b7b6-114a-4eec-a108-7afdc2fd1aa6/_apis/build/Builds/31147"},"web":{"href":"https://dev.azure.com/dfe-ssp/8ae3b7b6-114a-4eec-a108-7afdc2fd1aa6/_build/results?buildId=31147"},"sourceVersionDisplayUri":{"href":"https://dev.azure.com/dfe-ssp/8ae3b7b6-114a-4eec-a108-7afdc2fd1aa6/_apis/build/builds/31147/sources"},"timeline":{"href":"https://dev.azure.com/dfe-ssp/8ae3b7b6-114a-4eec-a108-7afdc2fd1aa6/_apis/build/builds/31147/Timeline"},"badge":{"href":"https://dev.azure.com/dfe-ssp/8ae3b7b6-114a-4eec-a108-7afdc2fd1aa6/_apis/build/status/49"}},"properties":{},"tags":[],"validationResults":[],"plans":[{"planId":"8eec95ad-27a0-45ec-abad-e27bb2e688e4"}],"triggerInfo":{},"id":31147,"buildNumber":"bbad5e7","status":"inProgress","queueTime":"2019-11-20T12:10:08.0912941Z","startTime":"2019-11-20T12:10:30.7464229Z","url":"https://dev.azure.com/dfe-ssp/8ae3b7b6-114a-4eec-a108-7afdc2fd1aa6/_apis/build/Builds/31147","definition":{"drafts":[],"id":49,"name":"apply-for-teacher-training","url":"https://dev.azure.com/dfe-ssp/8ae3b7b6-114a-4eec-a108-7afdc2fd1aa6/_apis/build/Definitions/49?revision=11","uri":"vstfs:///Build/Definition/49","path":"\\Apply","type":"build","queueStatus":"enabled","revision":11,"project":{"id":"8ae3b7b6-114a-4eec-a108-7afdc2fd1aa6","name":"Become-A-Teacher","description":"Various
        delivery teams for the Become a Teacher programme","url":"https://dev.azure.com/dfe-ssp/_apis/projects/8ae3b7b6-114a-4eec-a108-7afdc2fd1aa6","state":"wellFormed","revision":564,"visibility":"private","lastUpdateTime":"2019-07-08T09:16:12.69Z"}},"buildNumberRevision":47,"project":{"id":"8ae3b7b6-114a-4eec-a108-7afdc2fd1aa6","name":"Become-A-Teacher","description":"Various
        delivery teams for the Become a Teacher programme","url":"https://dev.azure.com/dfe-ssp/_apis/projects/8ae3b7b6-114a-4eec-a108-7afdc2fd1aa6","state":"wellFormed","revision":564,"visibility":"private","lastUpdateTime":"2019-07-08T09:16:12.69Z"},"uri":"vstfs:///Build/Build/31147","sourceBranch":"refs/heads/master","sourceVersion":"bbad5e734c844f16272351d17b0771f0789da739","queue":{"id":45,"name":"Hosted
        Ubuntu 1604","pool":{"id":6,"name":"Hosted Ubuntu 1604","isHosted":true}},"priority":"normal","reason":"batchedCI","requestedFor":{"displayName":"Microsoft.VisualStudio.Services.TFS","url":"https://spsprodweu2.vssps.visualstudio.com/Ae9f68a15-8168-42ec-88b5-17e41cb43473/_apis/Identities/00000002-0000-8888-8000-000000000000","_links":{"avatar":{"href":"https://dev.azure.com/dfe-ssp/_apis/GraphProfile/MemberAvatars/s2s.MDAwMDAwMDItMDAwMC04ODg4LTgwMDAtMDAwMDAwMDAwMDAwQDJjODk1OTA4LTA0ZTAtNDk1Mi04OWZkLTU0YjAwNDZkNjI4OA"}},"id":"00000002-0000-8888-8000-000000000000","uniqueName":"00000002-0000-8888-8000-000000000000@2c895908-04e0-4952-89fd-54b0046d6288","imageUrl":"https://dev.azure.com/dfe-ssp/_apis/GraphProfile/MemberAvatars/s2s.MDAwMDAwMDItMDAwMC04ODg4LTgwMDAtMDAwMDAwMDAwMDAwQDJjODk1OTA4LTA0ZTAtNDk1Mi04OWZkLTU0YjAwNDZkNjI4OA","descriptor":"s2s.MDAwMDAwMDItMDAwMC04ODg4LTgwMDAtMDAwMDAwMDAwMDAwQDJjODk1OTA4LTA0ZTAtNDk1Mi04OWZkLTU0YjAwNDZkNjI4OA"},"requestedBy":{"displayName":"Microsoft.VisualStudio.Services.TFS","url":"https://spsprodweu2.vssps.visualstudio.com/Ae9f68a15-8168-42ec-88b5-17e41cb43473/_apis/Identities/00000002-0000-8888-8000-000000000000","_links":{"avatar":{"href":"https://dev.azure.com/dfe-ssp/_apis/GraphProfile/MemberAvatars/s2s.MDAwMDAwMDItMDAwMC04ODg4LTgwMDAtMDAwMDAwMDAwMDAwQDJjODk1OTA4LTA0ZTAtNDk1Mi04OWZkLTU0YjAwNDZkNjI4OA"}},"id":"00000002-0000-8888-8000-000000000000","uniqueName":"00000002-0000-8888-8000-000000000000@2c895908-04e0-4952-89fd-54b0046d6288","imageUrl":"https://dev.azure.com/dfe-ssp/_apis/GraphProfile/MemberAvatars/s2s.MDAwMDAwMDItMDAwMC04ODg4LTgwMDAtMDAwMDAwMDAwMDAwQDJjODk1OTA4LTA0ZTAtNDk1Mi04OWZkLTU0YjAwNDZkNjI4OA","descriptor":"s2s.MDAwMDAwMDItMDAwMC04ODg4LTgwMDAtMDAwMDAwMDAwMDAwQDJjODk1OTA4LTA0ZTAtNDk1Mi04OWZkLTU0YjAwNDZkNjI4OA"},"lastChangedDate":"2019-11-20T12:20:48.52Z","lastChangedBy":{"displayName":"Microsoft.VisualStudio.Services.TFS","url":"https://spsprodweu2.vssps.visualstudio.com/Ae9f68a15-8168-42ec-88b5-17e41cb43473/_apis/Identities/00000002-0000-8888-8000-000000000000","_links":{"avatar":{"href":"https://dev.azure.com/dfe-ssp/_apis/GraphProfile/MemberAvatars/s2s.MDAwMDAwMDItMDAwMC04ODg4LTgwMDAtMDAwMDAwMDAwMDAwQDJjODk1OTA4LTA0ZTAtNDk1Mi04OWZkLTU0YjAwNDZkNjI4OA"}},"id":"00000002-0000-8888-8000-000000000000","uniqueName":"00000002-0000-8888-8000-000000000000@2c895908-04e0-4952-89fd-54b0046d6288","imageUrl":"https://dev.azure.com/dfe-ssp/_apis/GraphProfile/MemberAvatars/s2s.MDAwMDAwMDItMDAwMC04ODg4LTgwMDAtMDAwMDAwMDAwMDAwQDJjODk1OTA4LTA0ZTAtNDk1Mi04OWZkLTU0YjAwNDZkNjI4OA","descriptor":"s2s.MDAwMDAwMDItMDAwMC04ODg4LTgwMDAtMDAwMDAwMDAwMDAwQDJjODk1OTA4LTA0ZTAtNDk1Mi04OWZkLTU0YjAwNDZkNjI4OA"},"orchestrationPlan":{"planId":"8eec95ad-27a0-45ec-abad-e27bb2e688e4"},"logs":{"id":0,"type":"Container","url":"https://dev.azure.com/dfe-ssp/8ae3b7b6-114a-4eec-a108-7afdc2fd1aa6/_apis/build/builds/31147/logs"},"repository":{"id":"DFE-Digital/apply-for-postgraduate-teacher-training","type":"GitHub","clean":null,"checkoutSubmodules":false},"keepForever":false,"retainedByRelease":false,"triggeredByBuild":null},{"_links":{"self":{"href":"https://dev.azure.com/dfe-ssp/8ae3b7b6-114a-4eec-a108-7afdc2fd1aa6/_apis/build/Builds/26076"},"web":{"href":"https://dev.azure.com/dfe-ssp/8ae3b7b6-114a-4eec-a108-7afdc2fd1aa6/_build/results?buildId=26076"},"sourceVersionDisplayUri":{"href":"https://dev.azure.com/dfe-ssp/8ae3b7b6-114a-4eec-a108-7afdc2fd1aa6/_apis/build/builds/26076/sources"},"timeline":{"href":"https://dev.azure.com/dfe-ssp/8ae3b7b6-114a-4eec-a108-7afdc2fd1aa6/_apis/build/builds/26076/Timeline"},[...]
- request:
    method: get
    uri: https://dev.azure.com/dfe-ssp/Become-A-Teacher/_apis/build/builds?api-version=5.1&definitions=325
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8; api-version=5.1
    body:
      encoding: UTF-8
      string: '{"count":9,"value":[{"_links":{"self":{"href":"https://dev.azure.com/dfe-ssp/8ae3b7b6-114a-4eec-a108-7afdc2fd[...]
