---
http_interactions:
- request:
    method: get
    uri: https://dev.azure.com/dfe-ssp/Become-A-Teacher/_apis/build/builds?api-version=5.1&branchName=refs/heads/master&definitions=49
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8; api-version=5.1
      X-Tfs-Processid:
      - f99fcddc-5f1e-49a1-b4d6-909ecf3983c9
      Activityid:
      - 9b4b8005-ca7b-4b8c-9e31-17bcdc3804d9
      X-Tfs-Session:
      - 9b4b8005-ca7b-4b8c-9e31-17bcdc3804d9
      X-Vss-E2eid:
      - 9b4b8005-ca7b-4b8c-9e31-17bcdc3804d9
      X-Vss-Userdata:
      - a5118c11-43ea-410e-8f3a-83d31f089f37:tijmen.brommet@digital.education.gov.uk
    body:
      encoding: UTF-8
      string: '{"count":160,"value":[{"_links":{"self":{"href":"https://dev.azure.com/dfe-ssp/8ae3b7b6-114a-4eec-a108-7afdc2fd1aa6/_apis/build/Builds/26076"},"web":{"href":"https://dev.azure.com/dfe-ssp/8ae3b7b6-114a-4eec-a108-7afdc2fd1aa6/_build/results?buildId=26076"},"sourceVersionDisplayUri":{"href":"https://dev.azure.com/dfe-ssp/8ae3b7b6-114a-4eec-a108-7afdc2fd1aa6/_apis/build/builds/26076/sources"},"timeline":{"href":"https://dev.azure.com/dfe-ssp/8ae3b7b6-114a-4eec-a108-7afdc2fd1aa6/_apis/build/builds/26076/Timeline"},"badge":{"href":"https://dev.azure.com/dfe-ssp/8ae3b7b6-114a-4eec-a108-7afdc2fd1aa6/_apis/build/status/49"}},"properties":{},"tags":[],"validationResults":[],"plans":[{"planId":"0297e36a-5d76-465e-bf74-181a46449b81"}],"triggerInfo":{},"id":26076,"buildNumber":"ce44613","status":"notStarted","queueTime":"2019-10-17T10:04:25.5700666Z","url":"https://dev.azure.com/dfe-ssp/8ae3b7b6-114a-4eec-a108-7afdc2fd1aa6/_apis/build/Builds/26076","definition":{"drafts":[],"id":49,"name":"apply-for-teacher-training","url":"https://dev.azure.com/dfe-ssp/8ae3b7b6-114a-4eec-a108-7afdc2fd1aa6/_apis/build/Definitions/49?revision=8","uri":"vstfs:///Build/Definition/49","path":"\\Apply","type":"build","queueStatus":"enabled","revision":8,"project":{"id":"8ae3b7b6-114a-4eec-a108-7afdc2fd1aa6","name":"Become-A-Teacher","description":"Various
        delivery teams for the Become a Teacher programme","url":"https://dev.azure.com/dfe-ssp/_apis/projects/8ae3b7b6-114a-4eec-a108-7afdc2fd1aa6","state":"wellFormed","revision":564,"visibility":"private","lastUpdateTime":"2019-07-08T09:16:12.69Z"}},"buildNumberRevision":6,"project":{"id":"8ae3b7b6-114a-4eec-a108-7afdc2fd1aa6","name":"Become-A-Teacher","description":"Various
        delivery teams for the Become a Teacher programme","url":"https://dev.azure.com/dfe-ssp/_apis/projects/8ae3b7b6-114a-4eec-a108-7afdc2fd1aa6","state":"wellFormed","revision":564,"visibility":"private","lastUpdateTime":"2019-07-08T09:16:12.69Z"},"uri":"vstfs:///Build/Build/26076","sourceBranch":"refs/heads/master","sourceVersion":"ce446132e59900c8d783d55e120940b06102fc0b","queue":{"id":45,"name":"Hosted
        Ubuntu 1604","pool":{"id":6,"name":"Hosted Ubuntu 1604","isHosted":true}},"priority":"normal","reason":"manual","requestedFor":{"displayName":"Duncan
        Brown","url":"https://spsprodweu2.vssps.visualstudio.com/Ae9f68a15-8168-42ec-88b5-17e41cb43473/_apis/Identities/a978888e-4353-6b49-9eba-6a8ebc5227db","_links":{"avatar":{"href":"https://dev.azure.com/dfe-ssp/_apis/GraphProfile/MemberAvatars/aad.YTk3ODg4OGUtNDM1My03YjQ5LTllYmEtNmE4ZWJjNTIyN2Ri"}},"id":"a978888e-4353-6b49-9eba-6a8ebc5227db","uniqueName":"duncan.brown@digital.education.gov.uk","imageUrl":"https://dev.azure.com/dfe-ssp/_apis/GraphProfile/MemberAvatars/aad.YTk3ODg4OGUtNDM1My03YjQ5LTllYmEtNmE4ZWJjNTIyN2Ri","descriptor":"aad.YTk3ODg4OGUtNDM1My03YjQ5LTllYmEtNmE4ZWJjNTIyN2Ri"},"requestedBy":{"displayName":"Duncan
        Brown","url":"https://spsprodweu2.vssps.visualstudio.com/Ae9f68a15-8168-42ec-88b5-17e41cb43473/_apis/Identities/a978888e-4353-6b49-9eba-6a8ebc5227db","_links":{"avatar":{"href":"https://dev.azure.com/dfe-ssp/_apis/GraphProfile/MemberAvatars/aad.YTk3ODg4OGUtNDM1My03YjQ5LTllYmEtNmE4ZWJjNTIyN2Ri"}},"id":"a978888e-4353-6b49-9eba-6a8ebc5227db","uniqueName":"duncan.brown@digital.education.gov.uk","imageUrl":"https://dev.azure.com/dfe-ssp/_apis/GraphProfile/MemberAvatars/aad.YTk3ODg4OGUtNDM1My03YjQ5LTllYmEtNmE4ZWJjNTIyN2Ri","descriptor":"aad.YTk3ODg4OGUtNDM1My03YjQ5LTllYmEtNmE4ZWJjNTIyN2Ri"},"lastChangedDate":"2019-10-17T10:39:53.577Z","lastChangedBy":{"displayName":"Duncan
        Brown","url":"https://spsprodweu2.vssps.visualstudio.com/Ae9f68a15-8168-42ec-88b5-17e41cb43473/_apis/Identities/a978888e-4353-6b49-9eba-6a8ebc5227db","_links":{"avatar":{"href":"https://dev.azure.com/dfe-ssp/_apis/GraphProfile/MemberAvatars/aad.YTk3ODg4OGUtNDM1My03YjQ5LTllYmEtNmE4ZWJjNTIyN2Ri"}},"id":"a978888e-4353-6b49-9eba-6a8ebc5227db","uniqueName":"duncan.brown@digital.education.gov.uk","imageUrl":"https://dev.azure.com/dfe-ssp/_apis/GraphProfile/MemberAvatars/aad.YTk3ODg4OGUtNDM1My03YjQ5LTllYmEtNmE4ZWJjNTIyN2Ri","descriptor":"aad.YTk3ODg4OGUtNDM1My03YjQ5LTllYmEtNmE4ZWJjNTIyN2Ri"},"parameters":"{\"system.debug\":\"false\"}","orchestrationPlan":{"planId":"0297e36a-5d76-465e-bf74-181a46449b81"},"logs":{"id":0,"type":"Container","url":"https://dev.azure.com/dfe-ssp/8ae3b7b6-114a-4eec-a108-7afdc2fd1aa6/_apis/build/builds/26076/logs"},"repository":{"id":"DFE-Digital/apply-for-postgraduate-teacher-training","type":"GitHub","clean":null,"checkoutSubmodules":false},"keepForever":false,"retainedByRelease":false,"triggeredByBuild":null},{"_links":{"self":{"href":"https://dev.azure.com/dfe-ssp/8ae3b7b6-114a-4eec-a108-7afdc2fd1aa6/_apis/build/Builds/32137"},"web":{"href":"https://dev.azure.com/dfe-ssp/8ae3b7b6-114a-4eec-a108-7afdc2fd1aa6/_build/results?buildId=32137"},"sourceVersionDisplayUri":{"href":"https://dev.azure.com/dfe-ssp/8ae3b7b6-114a-4eec-a108-7afdc2fd1aa6/_apis/build/builds/32137/sources"},"timeline":{"href":"https://dev.azure.com/dfe-ssp/8ae3b7b6-114a-4eec-a108-7afdc2fd1aa6/_apis/build/builds/32137/Timeline"},"badge":{"href":"https://dev.azure.com/dfe-ssp/8ae3b7b6-114a-4eec-a108-7afdc2fd1aa6/_apis/build/status/49"}},"properties":{},"tags":[],"validationResults":[],"plans":[{"planId":"5a960f42-557b-46fc-b040-be34c060bc3f"}],"triggerInfo":{},"id":32137,"buildNumber":"8eb0489","status":"completed","result":"succeeded","queueTime":"2019-11-25T17:44:51.2297547Z","startTime":"2019-11-25T17:45:12.1152503Z","finishTime":"2019-11-25T18:04:09.7982664Z","url":"https://dev.azure.com/dfe-ssp/8ae3b7b6-114a-4eec-a108-7afdc2fd1aa6/_apis/build/Builds/32137","definition":{"drafts":[],"id":49,"name":"apply-for-teacher-training","url":"https://dev.azure.com/dfe-ssp/8ae3b7b6-114a-4eec-a108-7afdc2fd1aa6/_apis/build/Definitions/49?revision=11","uri":"vstfs:///Build/Definition/49","path":"\\Apply","type":"build","queueStatus":"enabled","revision":11,"project":{"id":"8ae3b7b6-114a-4eec-a108-7afdc2fd1aa6","name":"Become-A-Teache[...]
- request:
    method: get
    uri: https://dev.azure.com/dfe-ssp/Become-A-Teacher/_apis/build/builds?api-version=5.1&definitions=325
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8; api-version=5.1
      X-Tfs-Processid:
      - 3daf0fc0-82f9-4972-95f0-57d2be9dcec6
      Activityid:
      - 0d0dde54-5df1-4650-b368-73ac3d8e203b
      X-Tfs-Session:
    [...]
